{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags wagtailroutablepage_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
<br>
{% if carousel_images %}
	<div class="container">
	<div id="carouselExampleFade" class="carousel slide carousel-fade mt-4" data-bs-ride="carousel">
		<div class="carousel-inner">
		{% for loop_cycle in self.carousel_images.all %}
		{% image loop_cycle.image original as img %}
		<div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}" data-bs-interval="20000">
			<img src="{{ img.url }}" class="d-block w-100" alt="{{ img.alt }}">
			<div class="carousel-caption">
			{% if loop_cycle.color == 'W' %}
			<h4 class="display-4 text-white">{{ loop_cycle.title|title }}</h4>
			{% elif loop_cycle.color == 'B' %}
			<h4 class="display-4" style="color:black;">{{ loop_cycle.title|title }}</h4>
			{% elif loop_cycle.color == 'R' %}
			<h4 class="display-4" style="color:red;">{{ loop_cycle.title|title }}</h4>
			{% endif %}
			<a class="btn btn-primary btn-lg" href="{{ loop_cycle.link }}" role="button">Read More</a>
			</div>
			</div>
		{% endfor %}
		</div>
	
	
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
	
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	
	</div>
	</div>
	{% endif %}
	
	<div class="container">
		<div class="row row-cols-1 row-cols-md-3 g-4 mt-3 mb-5">
		
		{% for post in posts %}
				<div class="col mt-4">
					<div class="card mt-5 box-shadow-hover pointer">
					<a href="{{ post.url }}">
					{% image post.image original as blog_img %}
						<img src="{{ blog_img.url }}" class="blackwhite card-img-top" style="height: 50vw; object-fit: cover;" alt="{{ blog_img.alt }}">
						<div class="card-img-overlay">
						
						{% if post.get_parent.title != 'data' %}
						<button class="btn btn-primary btn-sm" role="button">Uncategorized</button>
						{% else %}
						<button class="btn btn-primary btn-sm" role="button">{{ post.get_parent.title|title }}</button>
						{% endif %}
						
						</div>
							<div class="card-body">
								<h1 style="font-size: 35px;" class="card-title">{{ post.title|title }}</h1>
								</a>
								{% with categories=page.categories.all %}
								{% if categories %}
								{% for cat in post.categories %}
								<a>
								<h5 class="card-title">{{ cat.name|title }}</h5>
								</a>
								{% endfor %}
								{% endif %}
								{% endwith %}
								<p class="card-text">
								<i class="far fa-calendar-alt fa-lg" aria-hidden="true"></i>
								<small class="text-muted">{{ post.date }}</small>
								</p>
								<a href="{{ post.url }}">
								<p class="card-text">
								game
								{% for block in post.content %}
								{{ block.value.full_richtext|richtext|safe }}
								{% endfor %}
								</p>
							</div>
							</a>
					</div>
				</div>
				
		{% endfor %}
		
		</div>
		
		{% if posts.paginator.num_pages > 1 %}
		<div class="container">
		<div class="row">
		<div class="col-lg-12">
		<div class="pagination justify-content-center mt-3">
		{% if posts.has_previous %}
		<li class="page-item">
		<a href="?page={{ posts.previous_page_number }}" class="page-link">
		<span>&laquo;</span>
		</a>
		</li>
		{% endif %}
		
		{% for page_num in posts.paginator.page_range %}
		<li class="page-item {% if page_num == posts.number %} active{% endif %}">
		<a href="?page={{ page_num }}" class="page-link">
		{{ page_num }}
		</a>
		</li>
		{% endfor %}
		
		{% if posts.has_next %}
		<li class="page-item">
		<a href="?page={{ posts.next_page_number }}" class="page-link">
		<span>&raquo;</span>
		</a>
		</li>
		{% endif %}
		</div>
		</div>
		</div>
		</div>
		{% endif %}
		
	
		
	</div>

{% endblock %}