{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-12 mt-5">

    <h1>{{ page.title|title }}</h1>
    
	
	{% image self.image original as banner %}
	<figure class="figure">
		<img src="{{ banner.url }}" class="figure-img img-fluid rounded" alt="{{ banner.alt }}">
            <figcaption class="figure-caption text-center">{{ item.caption }}</figcaption>
			</figure>
			
			
			<div class="row">
	{% with categories=self.categories.all %}
    {% if categories %}
	<p class="col-2">
	{% for category in categories %}
	<a href="{% routablepageurl page "category_view" category.slug %}">
	{% image category.icon fill-32x32 style="vertical-align: middle" %}
                    {{ category.name|title }}
					</a>
					{% endfor %}
        </p>
		{% endif %}
		{% endwith %}
	<p class="col-5 text-muted">{{ page.date }}</p>
	</div>
	
	
	{% if page.subtitle %}
    <h3 class="text-muted fst-italic">{{ page.subtitle }}</h3>
	{% endif %}


    <p>{{ page.body|richtext }}</p>


{% if page.tags.all.count %}
    <div class="tags">
        <h3>Tags:
        {% for tag in page.tags.all %}
            <a class="btn btn-outline-secondary btn-lg" href="{% slugurl 'tags' %}?tag={{ tag }}" role="button">{{ tag }}</a>
        {% endfor %}
		</h3>
    </div>
{% endif %}


    <p><a href="{{ page.get_parent.url }}" style="color: blue;">Return to blog</a></p>
	
</div>
</div>

<h2 class="text-center"><div class="btn btn-primary btn-lg" role="button" disabled>Related Posts</div></h2>

<div class="row mb-5">

{% for blogpage in related %}
<div class="col-4 mt-3">
<a href="{% pageurl blogpage %}">
<div class="card">
{% image blogpage.image original as blog_img %}
<img class="img-fluid" alt="{{ blog_img.alt }}" src="{{ blog_img.url }}">
<div class="card-body">
<h4 class="card-title">{{ blogpage.title|title }}</h4>
<p class="card-text">{{ blogpage.body|richtext|safe|truncatewords:25 }}</p>
</div>
</div>
</a>
</div>
{% endfor %}


</div>
</div>
{% endblock %}