{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="container">
<div class="row mt-5">

    {% if request.GET.tag %}
        <h1 class="mt-3">Showing Posts tagged: {{ request.GET.tag }}</h1>
    {% endif %}

    {% for blogpage in blogpages %}
		  
		  <div class="shadow p-3 mb-5 bg-body rounded">
	<a href="{% pageurl blogpage %}">
	<div class="card mb-3">
	<div class="row g-0">
	
	
	<div class="col-4">
	{% image blogpage.image original as banner %}
	<img src="{{ banner.url }}" class="img-fluid rounded-start" alt="{{ banner.alt }}">
	</div>
	
	<div class="col-8">
	<div class="card-body">
	<h2 class="card-title">{{ blogpage.title|title }}</h2>
	<p class="card-text">
	<small class="text-muted">{{ blogpage.latest_revision_created_at }}</small>
	</p>
	<p class="card-text">{{ blogpage.body|richtext|safe|truncatewords:25 }}</p>
	</div>
	</div>
	
	</div>
	</div>
	</a>
	
	</div>

    {% empty %}
      <h1 class="mt-3">  No pages found with that tag</h1>
    {% endfor %}
	
	
	
	</div>
	</div>

{% endblock %}