{% load wagtailimages_tags %}

{% for content in self.jumbotron %}

{% if content.image %}
{% image content.image original as img %}
<div class="p-5 text-center" style="background-image: url('{{ img.url }}'); background-size: cover;">
{% elif content.color %}
<div class="p-5 text-center" style="background-color: {{ content.color }};">
{% else %}
<div class="p-5 text-center bg-light">
{% endif %}

{% if content.title %}
<h1 class="mb-3" {% if content.text_color %}style="color: {{ content.text_color }};"{% endif %}>{{ content.title }}</h1>
{% endif %}

<h4 class="mb-3 mt-3" style="color:{% if content.text_color %} {{ content.text_color }} {% endif %};">{{ content.description|title|safe }}</h4>

</div>
</div>
</div>
{% endfor %}
