{% load static wagtailimages_tags wagtailcore_tags wagtailuserbar menus_tags subscribe_tags crispy_forms_tags %}

{% get_menu 'menu' as navigation %}
{% get_menu 'footer' as footer %}


<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title|title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
		
        {# Global stylesheets #}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mywebsite.css' %}">
		<link rel="shortcut icon" href="{% static 'images/bootstrap-icon' %}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sana:wght@500|Righteous|Alegreya|Lora|Lato">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
		
		<style>
		body {
	font-family:"Alegreya", Alegreya Sans, Lora, serif;
	font-size: 19px;
}
	@media (min-width: 768px) {
		body {
			font-size: 22px;
		}
	}
	h1.title {
		font-family: 'Lato', sans-serif;
		font-weight: 900;
		position: relative;
	}
	</style>
		
		{% if settings.social_media.SiteSettings.site_logo %}
{% image settings.social_media.SiteSettings.site_logo max-30x30 as icon_image %}
<link rel="shortcut icon" href="{{ icon_image.url }}" />
{% endif %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
	<!--<nav class="navbar navbar-light" style="background-color: #e3f2fd;"> to change the color
	<div class="container">
    <a class="navbar-brand" href="#"> to add image
      <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">Title
    </a>
  </div>-->
	
  <div class="container-fluid">
  {% if settings.social_media.SiteSettings.show_title_in_menu_bar %}
  {% if settings.social_media.SiteSettings.site_name %}
    <a class="navbar-brand" href="/" style="font-family: Righteous; font-size: 35px;">{{ settings.social_media.SiteSettings.site_name }}</a>
	{% endif %}
	{% endif %}
	{% if settings.social_media.SiteSettings.show_in_menu_bar %}
	{% image settings.social_media.SiteSettings.site_logo max-100x100 as icon_image %}
	<a href="/" class="logo"><img src="{{ icon_image.url }}" alt="{{ settings.social_media.SiteSettings.site_name }}" class="img-fluid"></a>
	{% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <i class="fa fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		{% for item in navigation.menu_items.all %}
		<li class="nav-item">
          <a class="nav-link active"{% if item.open_in_new_tab %} target="_blank"{% endif %} href="{{ item.link }}">{{ item.title|title }}</a>
        </li>
		{% endfor %}
      </ul>
	  {% csrf_token %}
	  <form class="d-flex" action="{% url 'search' %}" method="get">
        <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
        <input type="submit" value="Search" class="button">
    </form>
	  
    </div>
  </div>
</nav>

<p class="mb-5"></p>
<br/>
<br/>

  
        {% block content %}{% endblock %}
		
<footer class="bg-dark text-center text-white">
  <div class="container p-4">
  
  <section class="mb-4 mt-3">
  {% if settings.social_media.SocialMediaSettings.facebook %}
  <a class="btn btn-outline-light btn-floating m-1" href="{{ settings.social_media.SocialMediaSettings.facebook }}" role="button">
  <i class="fab fa-facebook-f"></i>
  </a>
   {% endif %}
   

   {% if settings.social_media.SocialMediaSettings.instagram %}
  <a class="btn btn-outline-light btn-floating m-1" href="{{ settings.social_media.SocialMediaSettings.instagram }}" role="button">
  <i class="fab fa-instagram"></i>
  </a>
  {% endif %}
  
  {% if settings.social_media.SocialMediaSettings.twitter %}
  <a class="btn btn-outline-light btn-floating m-1" href="{{ settings.social_media.SocialMediaSettings.twitter }}" role="button">
  <i class="fab fa-twitter"></i>
  </a>
  {% endif %}
  
  {% if settings.social_media.SocialMediaSettings.linkedin %}
  <a class="btn btn-outline-light btn-floating m-1" href="{{ settings.social_media.SocialMediaSettings.linkedin }}" role="button">
  <i class="fab fa-linkedin-in"></i>
  </a>
  {% endif %}
  
  {% if settings.social_media.SocialMediaSettings.whatsapp %}
  <a class="btn btn-outline-light btn-floating m-1" href="https://wa.me/{{ settings.social_media.SocialMediaSettings.whatsapp }}" target="_blank" role="button">
  <i class="fab fa-whatsapp"></i>
  </a>
  {% endif %}
  
  {% if settings.social_media.SocialMediaSettings.pinterest %}
  <a class="btn btn-outline-light btn-floating m-1" href="{{ settings.social_media.SocialMediaSettings.pinterest }}" role="button">
  <i class="fab fa-pinterest"></i>
  </a>
  {% endif %}
  
  </section>
  
  
  {% subscribe %}
  
  
  
 {% if footer.menu_items.all %}
  <section class="">
  <div class="row">
  <div class="mb-4 mb-md-0 text-center">
  
  <h5 class="text-uppercase">Links</h5>
  
  <ul class="list-unstyled mb-0">
  {% for item in footer.menu_items.all %}
  
  <strong>
  <li>
          <a class="text-white"{% if item.open_in_new_tab %} target="_blank"{% endif %} href="{{ item.link }}">{{ item.title }}</a>
        </li>
		{% endfor %}
		</strong>
  
  </ul>
  
  
  </div>
  </div>
  </section>
  {% endif %}
  
  </div>
  
  {% get_footer_text %}
  
  </footer>

        {# Global javascript #}
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/mywebsite.js' %}"></script>
		<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
